<a href="https://colab.research.google.com/github/hasancagrigungor/pandas-egitimi/blob/master/imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a=pd.read_csv('imdb.csv')

In [ ]:
a.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [ ]:
a['Released_Year']=pd.to_numeric(a['Released_Year'],errors="coerce")

In [ ]:
a['Released_Year'].value_counts(bins=10)

(2000.0, 2010.0]                241
(2010.0, 2020.0]                225
(1990.0, 2000.0]                161
(1980.0, 1990.0]                 89
(1970.0, 1980.0]                 81
(1960.0, 1970.0]                 65
(1950.0, 1960.0]                 62
(1940.0, 1950.0]                 33
(1930.0, 1940.0]                 30
(1919.8990000000001, 1930.0]     12
Name: Released_Year, dtype: int64

In [ ]:
a['Released_Year']

0      1994.0
1      1972.0
2      2008.0
3      1974.0
4      1957.0
        ...
995    1961.0
996    1956.0
997    1953.0
998    1944.0
999    1935.0
Name: Released_Year, Length: 1000, dtype: float64

In [ ]:
pd.cut(a['Released_Year'],bins=[1900,1930,1950,1960,1990,2005,2020])

0      (1990, 2005]
1      (1960, 1990]
2      (2005, 2020]
3      (1960, 1990]
4      (1950, 1960]
           ...
995    (1960, 1990]
996    (1950, 1960]
997    (1950, 1960]
998    (1930, 1950]
999    (1930, 1950]
Name: Released_Year, Length: 1000, dtype: category
Categories (6, interval[int64, right]): [(1900, 1930] < (1930, 1950] < (1950, 1960] < (1960, 1990] <
                                         (1990, 2005] < (2005, 2020]]

In [ ]:
import pandas as pd
import numpy as np
 
 
df= pd.DataFrame({'number': np.random.randint(1, 100, 10)})
df['bins'] = pd.cut(x=df['number'], bins=[1, 20, 40, 60,
                                          80, 100])
print(df)
 
# We can check the frequency of each bin
print(df['bins'].unique())

   number       bins
0      69   (60, 80]
1      37   (20, 40]
2      53   (40, 60]
3       2    (1, 20]
4      29   (20, 40]
5      31   (20, 40]
6      98  (80, 100]
7      97  (80, 100]
8      36   (20, 40]
9      88  (80, 100]
[(60, 80], (20, 40], (40, 60], (1, 20], (80, 100]]
Categories (5, interval[int64, right]): [(1, 20] < (20, 40] < (40, 60] < (60, 80] < (80, 100]]